.homepage {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border: 2px solid #000000;
    color: #000000;
    border-radius: 5px;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    z-index: 9999;
    font-size: 20px;
}
.homepage a{
    text-decoration: none;
    color: #000000;
}